.imagesSize{
    width: 70%;
    z-index: 0;    
    height: auto;
    object-fit: cover;
}

.zodiacBorder{
    padding: 25px 70px;
    margin: 0 auto;
    border-radius: 100px;
    box-shadow: 0 6px #e3e3e3;
    background-color: white;
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;  
}

body {
    margin: 20px;
    background: #000;
    opacity: 1;
    transition: opacity 3s;
}

body.blackScreen {
    opacity: 0;
    transition: none;
}

#wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-width: 1280px;
    background-color: aquamarine;
    margin: 10px auto;
}

#display {
    display: flex;
    margin: 20px auto;
}

#middle {
    margin: 0 auto;
}

.modal #zImage {
    max-width: 100px;
}

#userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#userInfo div {
    margin-bottom: 5px;
}

#userSubmit {
    padding: 8px 24px;
    background: #000;
    font-size: 12px;
    color: #fff;
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
}

.zodiacBtn {
    height: 65px;
    width: 180px;
    margin: 0 10px;
    border: 0;
    background-color: transparent;
    background-image: url('images/keys/aquarius.png');
    background-size: cover;
    cursor: pointer;
}

.zodiacBtn:hover {
   transform: rotate(10deg);
}

#pisces {
    background-image: url('images/keys/pisces.png');
}

#aries {
    background-image: url('images/keys/aries.png');
    width: 195px;
}

#taurus {
    background-image: url('images/keys/taurus.png');
}

#gemini {
    background-image: url('images/keys/gemini.png');
    width: 216px;
}

#cancer {
    background-image: url('images/keys/cancer.png');
}

#leo {
    background-image: url('images/keys/leo.png');
}

#virgo {
    background-image: url('images/keys/virgo.png');
}

#libra {
    background-image: url('images/keys/libra.png');
    width: 195px;
}

#scorpio {
    background-image: url('images/keys/scorpio.png');
}

#sagittarius {
    background-image: url('images/keys/sagittarius.png');
}

#capricorn {
    background-image: url('images/keys/capricorn.png');
}