body {
    margin: 20px;
    background: #000;
    opacity: 1;
    transition: opacity 3s;
}

body.blackScreen {
    opacity: 0;
    transition: none;
}

#wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
    max-width: 1280px;
    background-color: aquamarine;
    margin: 10px auto;
}

#display {
    display: flex;
    margin: 20px auto;
    max-width: 700px;
}

#middle {
    margin: 0 auto;
}

.zodiacBtn {
    margin: 0 0px;
    height: 80px;
    width: 80px;
    border: 0;
    background-color: transparent;
    background-image: url('images/keys/aquarius.png');
    background-size: cover;
    cursor: pointer;
}

.zodiacBtn:hover {
   transform: rotate(10deg);
}

#pisces {
    background-image: url('images/keys/pisces.png');
}

#aries {
    background-image: url('images/keys/aries.png');
}

#taurus {
    background-image: url('images/keys/taurus.png');
}

#gemini {
    background-image: url('images/keys/gemini.png');
}

#cancer {
    background-image: url('images/keys/cancer.png');
}

#leo {
    background-image: url('images/keys/leo.png');
}

#virgo {
    background-image: url('images/keys/virgo.png');
}

#libra {
    background-image: url('images/keys/libra.png');
}

#scorpio {
    background-image: url('images/keys/scorpio.png');
}

#sagittarius {
    background-image: url('images/keys/sagittarius.png');
}

#capricorn {
    background-image: url('images/keys/capricorn.png');
}